body, input, select, textarea, button {
    line-height: 1;
    letter-spacing: -0.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}

#header, #container, #content {
    position: relative;
}

#content {
    min-width: 1050px;
    padding-bottom: 170px;
}

.user_form {
    width: 1050px;
    margin: 0 auto;
    font-family: 'Noto Sans';
    font-weight: 400;
}


.user_form input, .user_form select, .user_form textarea, .user_form button {
    font-weight: 400;
}

.section_cart .tbl_comm {
    width: 100%;
}

.section_cart .tbl_comm caption {
    display: none;
}

.section_cart .tbl_comm th {
    padding: 20px 0;
    border-top: 2px solid #5f0080;
    font-weight: 400;
    font-size: 14px;
    color: #666;
    letter-spacing: -0.3px;
    text-align: left;
}

.section_cart .tbl_header .all_select {
    padding-left: 20px;
}

.section_cart .all_select .tit {
    font-weight: 700;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    letter-spacing: 0;
}

#thSelect {
	padding-left: 50px;
}

.layout-wrapper {
    position: relative;
    width: 1050px;
    height: 100%;
    margin: 0 auto;
}

.goods-list-position {
    padding: 20px 40px 10px;
    text-align: right;
}

.layout-page-header {
    padding-bottom: 40px;
    text-align: center;
}

.layout-page-title {
    display: block;
    padding: 10px 0 14px 0;
    font: normal bold 40px/1.5 'Noto Sans' !important;
    color: #333;
}

.pg_sub_desc {
    margin: 0 0 40px 0;
    font-size: 16px;
    color: #999;
    text-align: center;
}

.screen_out {
    display: block;
    overflow: hidden;
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

colgroup {
    display: table-column-group;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
}

.section_cart #viewGoods {
    overflow: hidden;
    width: 100%;
    border-bottom: 2px solid #ddd;
}

.section_cart .view_pakege.lst {
    padding-bottom: 7px;
}

.section_cart .view_goods .name_goods {
    margin-left: 76px;
    padding: 23px 0 17px;
    letter-spacing: 0;
}

.section_cart .view_goods .goods {
    width: 100%;
    padding: 14px 0 14px;
}

.section_cart .view_goods {
    border-top: 2px solid #ddd;
}

.section_cart .tbl_goods .goods_check {
    /*padding-left: 60px;*/
    text-align: center;
    font-size: 23px; 
}
.section_cart .tbl_goods td {
    padding: 20px 0;
    border: 0 none;
    text-align: center;
}
.section_cart .tbl_goods .goods_thumb {
    text-align: left;
}

.section_cart .tbl_goods .thumb {
    display: block;
    width: 60px;
    margin-right: 40px;
}

.section_cart .tbl_goods .thumb img {
    width: 100%;
    height: auto;
}

img {
    border: 0;
}
img, video, canvas {
    max-width: 100%;
}

.section_cart .tbl_goods .goods_info {
    padding-top: 18px;
    text-align: left;
}

.section_cart .tbl_goods .goods_info .name {
    font-weight: 700;
    font-size: 14px;
    color: #000;
    line-height: 20px;
    letter-spacing: 0;
}

.section_cart .tbl_goods .goods_info .goods_cost {
    display: block;
    overflow: hidden;
    width: 100%;
    padding-top: 7px;
}

.section_cart .tbl_goods .goods_info .goods_cost .selling_price {
    padding-right: 7px;
    color: #000;
}

.section_cart .tbl_goods .goods_info .goods_cost dd {
    float: left;
    font-size: 12px;
}

.section_cart .tbl_goods .goods_info .goods_cost dd {
    float: left;
    font-size: 12px;
}

.section_cart .tbl_goods .goods_info .goods_cost .selling_price {
    padding-right: 7px;
    color: #000;
}

.section_cart .tbl_goods .goods_info .goods_cost .cost {
    color: #777;
    text-decoration: line-through;
    font-size: 10px;
}

.section_cart .tbl_goods .goods_condition {
    text-align: left;
}

.section_cart .tbl_goods .condition {
    font-weight: 700;
    font-size: 12px;
    color: #5f0080;
    letter-spacing: -0.2px;
}

.section_cart .tbl_goods .goods_quantity {
    margin-right: -1px;
}

.section_cart .tbl_goods .goods_quantity .quantity {
    /*float: left;*/
}

.section_cart .tbl_goods .goods_quantity .inp_quantity {
    /*float: left;*/
    width: 38px;
    height: 22px;
    border: none;
    background: none;
    font-size: 12px;
    color: #000;
    text-align: center;
    letter-spacing: -0.2px;
    margin-left: 22px;
}

.section_cart .view_pakege .tbl_goods td {
    padding-top: 14px;
    padding-bottom: 13px;
    border-top: 1px solid #ddd;
}

.section_cart .tbl_goods .goods_total .result {
    font-weight: 700;
    font-size: 14px;
    color: #000;
    letter-spacing: -0.2px;
    text-align: right;
}

.section_cart .tbl_goods .goods_delete {
    padding-left: 41px;
    text-align: left;
}

.section_cart .tbl_goods .goods_delete .btn_delete {
    display: block;
    width: 12px;
    height: 12px;
    border: 0 none;
    background-color: #fff;
    outline: none !important;
    cursor: pointer;
}

.section_cart .tbl_goods .goods_delete .btn_delete img {
    display: block;
    width: 12px;
    height: 12px;
}

.cart_amount {
    overflow: hidden;
    width: 100%;
}

.cart_amount .amount_detail {
    float: left;
}

.cart_amount.cell_except .list {
    width: 200px;
}
.cart_amount .list {
    float: left;
    width: 143px;
    border: 2px solid #ddd;
}

.cart_amount .list .tit {
    display: block;
    overflow: hidden;
    padding-top: 38px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    letter-spacing: -0.3px;
    text-align: center;
}

.cart_amount .list .result {
    display: table;
    width: 100%;
    height: 103px;
    padding: 2px 0 22px;
    vertical-align: middle;
    font-size: 20px;
    color: #000;
    line-height: 28px;
    letter-spacing: -0.4px;
    text-align: center;
}

.cart_amount .list .inner_result {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.cart_amount.cell_except .deco {
    width: 72px;
}
.cart_amount .deco {
    position: relative;
    float: left;
    width: 56px;
    height: 145px;
}

.cart_amount.cell_except .deco_minus .ico {
    left: 28px;
}
.cart_amount .deco_minus .ico {
    left: 20px;
    top: 82px;
}
.cart_amount .deco .ico {
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #777;
}

.cart_amount.cell_except .deco_plus .fst {
    left: 35px !important;
}
.cart_amount.cell_except .deco_plus .ico {
    left: 28px;
}
.cart_amount .deco_plus .fst {
    left: 27px;
    top: 75px !important;
    width: 2px;
    height: 16px;
}

.cart_amount.cell_except .deco_plus .ico {
    left: 28px;
}
.cart_amount .deco_plus .ico {
    left: 20px;
    top: 82px;
}

.cart_amount .amount_delivery {
    width: 180px;
    border: 2px solid #ddd;
}

.cart_amount.cell_except .deco_equal .fst {
    left: 30px !important;
}

.cart_amount .deco_equal .fst {
    left: 38px;
    top: 79px !important;
}

.cart_amount.cell_except .deco_equal .ico {
    left: 30px;
}
.cart_amount .deco_equal .ico {
    left: 38px;
    top: 85px;
}

.cart_amount.cell_except .amout_result {
    width: 230px;
}
.cart_amount.cell_except .list {
    width: 200px;
}
.cart_amount .amout_result {
    float: right;
    width: 180px;
    border: 2px solid #ddd;
    background-color: #f7f7f7;
}

.cart_amount .list {
    float: left;
    width: 143px;
    border: 2px solid #ddd;
}

.cart_amount .amout_result .result {
    color: #5f0080 !important;
}
.cart_amount .list .result {
    display: table;
    width: 100%;
    height: 103px;
    padding: 2px 0 22px;
    vertical-align: middle;
    font-size: 20px;
    color: #000;
    line-height: 28px;
    letter-spacing: -0.4px;
    text-align: center;
}

.cart_amount .list .inner_result.add {
    padding-top: 22px;
}
.cart_amount .list .inner_result {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.cart_result {
	position: relative;
	left: 15px;
	margin-top: 60px;
}

.section_cart .btn_submit.no_submit {
    background-color: #dddfe1;
}
.section_cart .btn_submit {
    display: block;
    width: 200px;
    height: 48px;
    margin: 0 auto;
    border: 0 none;
    margin-top: 80px;
    background-color: #5f0080;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    letter-spacing: -0.3px;
}

.section_cart .no_data {
    padding: 100px 0;
    border-top: 2px solid #ddd;
    font-weight: 700;
    font-size: 14px;
    color: #4c4c4c;
    text-align: center;
    letter-spacing: -0.3px;
}