#main {
	border-bottom: 1px solid #f7f7f7;
}

#content {
	min-width: 1050px;
	padding-bottom: 170px;
	position: relative;
}

.page_aticle {
	width: 1050px;
	margin: 0 auto;
}

#lnbMenu {
	padding-top: 26px;
}

#lnbMenu .inner_lnb {
    position: relative;
    padding-left: 29px;
}

#lnbMenu .ico_cate {
    overflow: hidden;
    width: 100%;
    height: 50px;
    padding-bottom: 10px;
}

#lnbMenu .ico_cate .ico {
    display: none;
    overflow: hidden;
    float: left;
    width: 40px;
    height: 40px;
}

#lnbMenu .ico_cate .ico img {
    width: 40px;
    height: 40px;
    vertical-align: top;
}

#lnbMenu .ico_cate .tit {
    float: left;
    padding: 20px 0 0 4px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #000;
    letter-spacing: -0.3px;
}

#lnbMenu .list {
    overflow: hidden;
    width: 870px;
}

#lnbMenu li {
    float: left;
}

#lnbMenu li a:hover, #lnbMenu li .on {
    font-weight: 700;
    color: #5f0080;
}

#lnbMenu li a {
    overflow: hidden;
    float: left;
    padding: 0 13px 7px 12px;
    border-bottom: 1px solid #ddd;
    margin-left: 5px;
    line-height: 20px;
    font-size: 12px;
    color: #333;
    letter-spacing: -0.3px;
    cursor: pointer;
}

#lnbMenu li.bg {
    position: absolute;
    top: 78px;
    height: 1px;
    margin-top: -1px;
    background-color: #5f0080;
    width: 68px;
    left: 29px;
    opacity: 1;
}

#goodsList .list_ability {
    position: relative;
}

#goodsList .list_goods {
    overflow: hidden;
    padding: 0 29px;
}

#goodsList .list_goods {
    overflow: hidden;
    padding: 0 29px;
}

#goodsList .list_goods .inner_listgoods {
    overflow: hidden;
    width: 990px;
}

#goodsList .list_goods .list {
    overflow: hidden;
    width: 1008px;
}

#goodsList .list_goods li {
    float: left;
    width: 336px;
    height: 611px;
    padding: 25px 28px 0 0;
}

#goodsList .list_goods .item {
    display: block;
    background-color: #fff;
    cursor: pointer;
}

#goodsList .list_goods .thumb {
    display: block;
    position: relative;
    width: 100%;
    height: 396px;
    border: 1px solid rgba(0, 0, 0, .08);
    background-color: #f9f8f9;
}

#goodsList .list_goods .thumb .img {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#goodsList .list_goods .thumb .img:hover {
	outline: 0;
}

#goodsList .list_goods .thumb img {
    width: 100%;
    vertical-align: top;
    transition: all 0.5s ease-in-out;
}

#goodsList .list_goods .thumb img:hover {
	transform: scale(1.02);
	transition: all .3s ease-in-out;
}

#goodsList .list_goods .thumb .group_btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 45px;
}

.group_btn {
    overflow: hidden;
    width: 100%;
    text-align: center;
}

#goodsList .list_goods .thumb .btn_cart {
    background: url(https://res.kurly.com/pc/service/common/1908/ico_list_add_cart.png) no-repeat 50% 50%;
}

#goodsList .list_goods .thumb .btn {
    display: block;
    width: 45px;
    height: 45px;
    margin-top: 15px;
    border: 0 none;
}

.group_btn .btn {
    overflow: hidden;
    float: left;
    width: 150px;
    height: 42px;
    font-size: 13px;
    line-height: 40px;
    text-align: center;
}

#goodsList .list_goods .name {
    /*display: block;*/
    overflow: hidden;
    max-height: 58px;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    line-height: 29px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

#goodsList .list_goods .cost {
    display: block;
    padding-top: 9px;
    font-size: 17px;
    line-height: 24px;
}

#goodsList .list_goods .cost .price {
    font-weight: 700;
    color: #5f0080;
}

#goodsList .list_goods .desc {
    display: block;
    padding-top: 8px;
    font-size: 13px;
    color: #666;
    line-height: 19px;
}

#goodsList .list_goods .thumb .ico {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 66px;
    height: 58px;
    background-color: #9166b6;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-weight: 400;
    padding-top: 6px;
    font-size: 15px;
}

#goodsList .list_goods .thumb .ico span {
	font-weight: 700;
}

#goodsList .list_goods .cost .dc {
    padding-right: 1px;
    font-weight: 700;
    color: #ccc;
    text-decoration: line-through;
}

#goodsList .list_goods .cost .emph {
    font-weight: 700;
    color: #5f0080;
}

#goodsList .list_goods .cost .price {
    font-weight: 700;
    color: #5f0080;
}

.page_aticle .layout-pagination {
    /*font-size: 0;*/
}

.pagediv {
	display: flex;
	justify-content: center;
}


.layout-pagination {
    margin: 60px 0 0 0;
    text-align: center;
}

.page_aticle .layout-pagination a {
	font-weight: 400;
	font-size: 12px;
	color: #4c4c4c;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	display: inline-block;
	width: 34px;
	height: 34px;
	border: 1px solid #ddd;
	border-left: 0 none;
	position: relative;
}

.page_aticle .layout-pagination a strong {
	position: absolute;
	top: 50%;
	left: 50%;transform: translate(-50%,-50%);
}

.prev2 {
	border-left: 1px solid #ddd !important;
    background-image: url(/imgs/left2.png);
}

.prev1 {
	background-image: url(/imgs/left1.png);
}


.next2 {
	background-image: url(/imgs/right2.png);	
}

.next1 {
	background-image: url(/imgs/right1.png);
}

.page_aticle .layout-pagination a:hover,
a.nowPage {
	background-color: #f7f7f7 !important;	
	color: #5f0080 !important;
}
